<div class="post">
  <div class="header">
    <h1>Post Title</h1>
    <button
      routerLink="/"
      routerLinkActive="router-link-active"
      class="btn btn-link"
      style="color: red"
    >
      На главную
    </button>
  </div>
  <div class="info">
    <strong>Тут автор</strong>
    <small>12.09.2019</small>
  </div>
  <div>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat corporis
      impedit, odit cupiditate laudantium eum fugiat id ex at autem provident
      sed qui vitae maiores, temporibus similique saepe repudiandae doloremque
      quisquam, fugit libero unde necessitatibus? Distinctio, repellendus soluta
      hic nemo accusantium nostrum? Nulla quos adipisci harum illum obcaecati
      dicta eum!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat corporis
      impedit, odit cupiditate laudantium eum fugiat id ex at autem provident
      sed qui vitae maiores, temporibus similique saepe repudiandae doloremque
      quisquam, fugit libero unde necessitatibus? Distinctio, repellendus soluta
      hic nemo accusantium nostrum? Nulla quos adipisci harum illum obcaecati
      dicta eum!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat corporis
      impedit, odit cupiditate laudantium eum fugiat id ex at autem provident
      sed qui vitae maiores, temporibus similique saepe repudiandae doloremque
      quisquam, fugit libero unde necessitatibus? Distinctio, repellendus soluta
      hic nemo accusantium nostrum? Nulla quos adipisci harum illum obcaecati
      dicta eum!
    </p>
  </div>
</div>
